<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>AFNetworking</string>
			<key>File</key>
			<string>LicensePlist/AFNetworking</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>BlocksKit</string>
			<key>File</key>
			<string>LicensePlist/BlocksKit</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>Bugly</string>
			<key>File</key>
			<string>LicensePlist/Bugly</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>DACircularProgress</string>
			<key>File</key>
			<string>LicensePlist/DACircularProgress</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>DZNEmptyDataSet</string>
			<key>File</key>
			<string>LicensePlist/DZNEmptyDataSet</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>FFToast</string>
			<key>File</key>
			<string>LicensePlist/FFToast</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>GDPerformanceView</string>
			<key>File</key>
			<string>LicensePlist/GDPerformanceView</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>IDMPhotoBrowser</string>
			<key>File</key>
			<string>LicensePlist/IDMPhotoBrowser</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>libextobjc</string>
			<key>File</key>
			<string>LicensePlist/libextobjc</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>pop</string>
			<key>File</key>
			<string>LicensePlist/pop</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>RegexKitLite</string>
			<key>File</key>
			<string>LicensePlist/RegexKitLite</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SDWebImage</string>
			<key>File</key>
			<string>LicensePlist/SDWebImage</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>SIHTMLParser</string>
			<key>File</key>
			<string>LicensePlist/SIHTMLParser</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>TTTAttributedLabel</string>
			<key>File</key>
			<string>LicensePlist/TTTAttributedLabel</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>UMengUShare</string>
			<key>File</key>
			<string>LicensePlist/UMengUShare</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>YYCategories</string>
			<key>File</key>
			<string>LicensePlist/YYCategories</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSChildPaneSpecifier</string>
			<key>Title</key>
			<string>YYModel</string>
			<key>File</key>
			<string>LicensePlist/YYModel</string>
		</dict>
	</array>
</dict>
</plist>
